.app {
  display: flex;
  .left{
    display: flex;
    flex-basis: 60%;
    flex-direction: column;
  }
  .flats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    margin: 20px 15px;
  }
  .map {
    flex-grow: 1;
    height: 100vh;
    top: 0;
    position: sticky;
  }

  .search {
    border-radius: 32px;
    margin: 20px 0px 0px 13px;
    width: 500px;
    height: 50px;
    border: 1px solid #E41D52;
  }
  input::placeholder {
    color: #E41D52;
    opacity: 0.3;
    padding: 10px;
  }
  button {
    width: 30px;
    height: 30px;
  }
}
