.app {
  display: flex;
  .left{
    display: flex;
    flex-basis: 60%;
    flex-direction: column;
  }
  .flats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    margin: 20px 15px;
  }
  .map {
    flex-grow: 1;
    height: 100vh;
    top: 0;
    position: sticky;
  }
}
