.marker {
  padding: 5px;
  background-color: white;
  color: #E41D52;
  border: 1px solid #E41D52;
  text-align: center;
  font-weight: bold;
  border-radius: 4px;

  &.selected {
    background-color: #E41D52;
    color: white;
    border: 1px solid white;
  }
}
