.flat {
  border-radius: 20px;
  margin-bottom: 30px;

  .flat-img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;

  }
  .flat-content {
    margin: 5px 0px 20px 10px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    p {
      color: gray;
    }
  }

  &.selected {
    border: 3px solid coral;
  }

   &:hover {
    opacity: 0.6;
  }
}
